.header{
    height: 100px;
    background-color:black;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    box-sizing: border-box;
    justify-content: space-between;
}
.header>img{
    height: 70%;
}
.header>div{
    width: 100%;
    margin-left: 4vmax;
}
.header>svg{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.header>div>a{

    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 1vmax;
cursor: pointer;
}
svg:hover{
    color:rgb(128, 121, 121);
}